/* [SITE] */
body, html {
  padding: 0;
  margin: 0;
}

/* [GALLERY] */
#gallery {
  max-width: 1200px;
  margin: 0 auto;
}

#gallery img {
  box-sizing: border-box;
  width: 25%;
  max-height: 150px;
  padding: 5px;
  /* fill, contain, cover, scale-down : use whichever you like */
  object-fit: cover;
  cursor: pointer;
}

/* [RESPONSIVE GALLERY] */
@media screen and (max-width: 850px) {
  #gallery img {
    width: 33%;
  }
}

@media screen and (max-width: 640px) {
  #gallery img {
    width: 50%;
  }
}

/* [LIGHTBOX] */
#lfront, #lback {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  width: 100%;
}

#lfront img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

#lback {
  height: 100vh;
  background: #000;
}

#lfront.show {
  z-index: 1000;
  opacity: 1;
  visibility: visible;
}

#lback.show {
  z-index: 999;
  opacity: 0.8;
  visibility: visible;
}